:root {
  --primary-red-color: #FF2448;
  --background-dark-color: #1e1e1e;
  --gray-hover-color: rgb(248, 249, 250);
  --primary-green-color: #229753;
}

body{
  background-color: #fbf6ff;
  font-family: 'Raleway', sans-serif !important;
}

.text-red{
  color: var(--primary-red-color);
}

.text-dark{
  color: var(--background-dark-color);
}

.text-gray{
  color: #495057;
}

.redlink{
  color: var(--primary-red-color);
  text-decoration: none;
  font-weight: bold;
}
.redlink:hover{
  color: white;
}

.redlinkdark{
  color: var(--primary-red-color);
  text-decoration: none;
  font-weight: bold;
}
.redlinkdark:hover{
  color: var(--background-dark-color);
}

.darklink{
  color: var(--background-dark-color);
  text-decoration: none;
  font-weight: bold;
}
.darklink:hover{
  color: var(--primary-red-color);
}

.band-title{
  font-style: italic;
  font-weight: bolder;
  text-transform: capitalize;
  background: linear-gradient(var(--background-dark-color),#000);
  clear: both;
  margin: 0 0 15px;
    margin-top: 0px;
  background: #1e1e1e;
  border-left: 9px solid #ff2448;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-size: 19px;
}

.text-xs{
  font-size: 12px;
}

.text-sm{
  font-size: 14px;
}

.text-base{
  font-size: 16px;
}

.text-lg{
  font-size: 18px;
}

.text-xl{
  font-size: 20px;
}

.formatted-text {
  white-space: pre-line;
}

.bg-red{
  background-color: var(--primary-red-color);
}

.episodecard:hover{
  background: var(--gray-hover-color);
}

.pagination_nav .page-link{
  color: var(--primary-red-color);
  font-weight: bold;
}

.pagination_nav .page-link:hover{
  background: var(--gray-hover-color);
}

.pagination_nav .page-item.active .page-link{
  background: var(--primary-red-color);
  color: white;
  border-color: var(--primary-red-color);
}

.btn.btn-danger{
  background-color: var(--primary-red-color);
  border-color: var(--primary-red-color);
}

.btn.btn-danger:hover{
  filter: brightness(0.9); /* Réduit la luminosité (0.9 = 90%) */
}

.btn.btn-success{
  background-color: var(--primary-green-color);
  border-color: var(--primary-green-color);
}

.btn.btn-success:hover{
  filter: brightness(0.9); /* Réduit la luminosité (0.9 = 90%) */
}


