<div class="vw-100 vh-100 d-flex justify-content-center align-items-center">
  <div class="w-100" style="max-width: 500px">
    <div class="card">
      <div class="card-body d-flex flex-column gap-4 align-items-center">
        <div>
          <img src="/assets/img/otakufr-logo.webp" alt="" />
        </div>
        <div class="w-100 d-flex flex-column gap-2">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                formControlName="email"
              />

              <p *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="text-danger">
                <span *ngIf="loginForm.controls['email'].errors?.['required']">Le nom est requis.</span>
              </p>

            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                aria-describedby="emailHelp"
                formControlName="password"
              />

              <p *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
                <span *ngIf="loginForm.controls['password'].errors?.['required']">Le password est requis.</span>
                <span *ngIf="loginForm.controls['password'].errors?.['minlength']">Le password doit contenir au moins 9 caractères</span>
              </p>

            </div>

            <button
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="loginForm.invalid || isLoading"
            >
              <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                <span class="visually-hidden">Loading...</span>
              </div>
              Login
            </button>
            <p *ngIf="errorMessage" class="error text-danger mt-3">
              {{ errorMessage }}
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
