.nav-link{
  color: white !important;
  font-weight: bold;
  color: var(--primary-red-color);
}
.nav-link:hover{
  color: var(--primary-red-color) !important;
  background-color: white;
}

.nav-link.active{
  background-color: var(--primary-red-color);
}

.nav-link.active:hover{
  color: white !important;
}

.sidebar{
  background-color: var(--background-dark-color) !important;

  transition: transform 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;

}

.hidden {
  transform: translateX(-100%);
}

.sidebar_dropdown_button{
  background-color: var();
}



.sidebar_dropdown_button[aria-expanded="true"]{
  background-color: white;
  color: var(--primary-red-color) !important;
}

.sidebar_dropdown_button[aria-expanded="false"]{
  background-color: var(--background-dark-color);
  color: white !important;
}

.sidebar_dropdown_button:hover{
  background-color: white;
  color: var(--primary-red-color) !important;
}

.sidebar_dropdown_button.active{
  background-color: var(--primary-red-color);
  color: white !important;
}

.sidebar_collapse_menu{
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar{
  background-color: var(--background-dark-color) !important;
  height: 80px;
  padding: 0;
  z-index: 2;
}

.nav-pills{
  margin-top: 80px;
  z-index: 1;
}

.content{
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 280px;
  margin-top: 80px;
}

.content.expanded {
  margin-left: 0px;
}

.link-body-emphasis.active{
  color: black !important;
  background: white;
}

#dashboard_toggle_menu_button{
  background-color: var(--primary-red-color);
  border-color: var(--primary-red-color);
}