.navbar-dark{
  background-color: var(--background-dark-color) !important;
}

.band{
  font-style: italic;
  font-weight: bolder;
  text-transform: capitalize;
  background: linear-gradient(var(--background-dark-color),#000);
  clear: both;
  margin: 0 0 15px;
  border-left: 9px solid var(--primary-red-color);
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-size: 19px;
}