<div class="vw-100 pt-3 pb-5 navbar-dark m-0" style="box-sizing: border-box;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="band">
          <p><i class="fa fa-exclamation-triangle"></i> Disclaimer !</p>
        </div>
        <p class="text-red">
          OtakuFR.com n'héberge aucun fichier. La loi française vous autorise à
          télécharger un fichier seulement si vous en possédez l'original. Ni
          OtakuFR.com, ni nos hébergeurs, ni personne ne pourront êtres tenu
          responsables d'une mauvaise utilisation de ce site.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="band">
          <p><i class="fa fa-envelope"></i> Contactez-nous !</p>
        </div>
        <p class="text-white">
          Email:
          <span
            ><a class="redlink" routerLink="#">{{
              contact_us_mail
            }}</a></span
          >
        </p>
        <div class="d-flex gap-2">
          <div>
            <a class="redlink" routerLink="#"
              ><i class="fa-brands fa-square-facebook"></i
            ></a>
          </div>
          <div>
            <a class="redlink" routerLink="#"
              ><i class="fa-brands fa-square-twitter"></i
            ></a>
          </div>
          <div>
            <a class="redlink" routerLink="#"
              ><i class="fa-brands fa-square-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="margin-auto text-center">
          <p class="text-white">
            Aucun droit réservé © 2015 - {{ current_year }} OtakuFR
          </p>
          <p class="text-white">
            <a class="redlink" routerLink="#">DMCA</a> -
            <a class="redlink" routerLink="#">Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
